*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display:flex;
    justify-content: center;
    align-items: center;
}
.container{
    position: relative;
    width: 1280px;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap: wrap;
}
.container .cards{
    position: relative;
    width: 300px;
    height:400px;
    background: linear-gradient(#2196f3,#2196f3 30%,#1d3548 30%,#1d3548);
    margin: 10px;
    border-radius: 20px;
    overflow: hidden;
}
.container .cards .imgBx{
    position:absolute;
    top:0;
    left: 0;
    width:100%;
    height:100%;
    transition: 0.5s;
    z-index: 1000;
    overflow: hidden;
    transform-origin:top ;
    
}
.container .cards:hover .imgBx{
    transform: translateY(30px)scale(0.5);
    
}
.container .cards .imgBx img{
    position:absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius:20px;
}
.container .cards .content {
    position:absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 30px;
    transform:translateY(100%);
    transition: 0.5s;
}
.container .cards:hover .content{
    transform:translateY(0%)
}
.container .cards .content .details{
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align: center;
}
.container .cards .content .details h2{
    color:#fff;
    font-size: 1.2em;
    font-weight: 500;
}
.container .cards .content .details h2 span{
    color:#2196f3;
    font-size:0.8em;
    font-weight:400;
}
.socal-icon{
    position: relative;
    display:flex;
    margin-top:5px ;
}
.socal-icon li{
    list-style: none;
    margin:4px;
}
.socal-icon li a{
    width: 45px;
    height: 45px;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius: 50%;
    font-size: 1.5em;
    background-color:#294d69;
    color:#fff;
    text-decoration: none;
    transition:0.5s;
}
.socal-icon li a:hover{
    transform: rotate(360deg);
}